
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Contact</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="form-container">
        <form class="contact-form" action="index2.html">
            <div class="form-row">
                <div class="form-group">
                    <label for="nom">Nom </label>
                    <input type="text" id="nom" placeholder="KIKI CISSE">
                </div>
                
                
            </div>
            <!-- CHAMP PRENOM SOUS NOM/EMAIL -->
<div class="form-row-single">
    <div class="form-group-half">
        <label for="prenom-seul">Prénom</label>
        <input type="text" id="prenom-seul" placeholder="Aminata">
    </div>
</div>

            
<div class="form-row">
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" placeholder="Minimum 8 caractères">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirmer le mot de passe</label>
        <input type="password" id="confirm-password" placeholder="Retape ton mot de passe">
    </div>
</div>

           
           <button type="submit" class="btn-submit">
                continuer
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </button>
        </form>
    </div>
</body>
</html>